name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Install Dependencies
        run: |
          npm install
          npm run build

      - name: Add Android
        run: |
          npx cap add android
          npx cap sync android

      - name: Inject Permissions Android 14+
        run: |
          # Penambahan izin untuk mengaktifkan Bluetooth via aplikasi
          sed -i '/<application/i \
          <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" /> \
          <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" /> \
          <uses-permission android:name="android.permission.BLUETOOTH_SCAN" /> \
          <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> \
          <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" /> \
          <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />' android/app/src/main/AndroidManifest.xml

      - name: Build APK
        run: |
          cd android && ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: EPPOS-Auto-BT-Tester
          path: android/app/build/outputs/apk/debug/app-debug.apk
